.search-wrapper,
.filter-dropdown {
  border: 1px solid #e6e6e6;
  /* padding: 0.75em; */
  border-radius: 4px;
}
input {
  border: none;
  height: 100%;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-wrapper img {
  margin: 3px;
}

.filter-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  /* margin: 1em; */
  font-size: 14px;
  padding: 1px 20px;
  margin: 0em 1em;
}

.search-filter-wrapper {
  display: flex;
  margin: 1em;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.triangle-up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid #4a4a4a;
  display: inline-block;
  align-self: center;
  margin-left: 5px;
}
