.search-wrapper,
.filter-dropdown {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
input {
  border: none;
  width: 100%;
  background: #f8f8f8;
  padding: 1em;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}
.search-wrapper img {
  margin: 0px 10px;
}

.search-wrapper {
  justify-content: left;
  margin: 0em 1em 0em 0em;
}

.filter-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  font-size: 14px;
  padding: 0em 1em;
  margin: 0em 1em;
}

.search-filter-wrapper {
  display: flex;
  margin: 1em;
}

form {
  display: flex;
}

.triangle-down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid #4a4a4a;
  display: inline-block;
  align-self: center;
  margin-left: 5px;
  margin-top: 5px;
}
.filter-wrapper {
  display: flex;
}

.filter-dropdown p {
  margin: 10px;
}

button {
  border: none;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 600px) {
  form {
    flex-direction: column;
    margin-left: 0em;
    flex-grow: 1;
  }

  .search-wrapper {
    /* padding: 0.75em; */
    justify-content: left;
  }

  .filter-dropdown:nth-of-type(1) {
    margin-left: 0;
  }

  .filter-wrapper {
    margin: 1em 0em;
  }
}
