.header-wrapper {
  display: flex;
  margin: 1em;
}

.header-wrapper div:last-of-type {
  margin-left: auto;
}

.logo-wrapper img {
  margin-right: 20px;
}

.icons-wrapper,
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-wrapper img {
  margin-right: 20px;
  display: block;
}

@media only screen and (max-width: 375px) {
  img:nth-of-type(3),
  img:nth-of-type(4),
  img:nth-of-type(6),
  img:nth-of-type(7) {
    display: none;
  }
}

/* .logo-wrapper {
  margin: 1em;
}

.icons-wrapper img {
  margin: 1em;
} */
