.header-wrapper {
  display: flex;
  margin: 1.5em;
}

.header-wrapper div:last-of-type {
  margin-left: auto;
}

.logo-wrapper img {
  margin-right: 20px;
}

.icons-wrapper,
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-right: 20px;
  display: block;
}

@media only screen and (max-width: 600px) {
  .icons-wrapper img:nth-of-type(1),
  .icons-wrapper img:nth-of-type(2),
  .icons-wrapper img:nth-of-type(4),
  .icons-wrapper img:nth-of-type(5) {
    display: none;
  }

  .logo-wrapper {
    /* border: 1px solid red; */
    flex-grow: 1;
  }

  .text-logo-wrapper {
    /* border: 1px solid blue; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .icons-wrapper {
    border: 1px solid yellow;
  } */

  .header-wrapper {
    display: flex;
  }
}
