h3 {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  /* border: 1px solid orange; */
  display: inline;
  color: rgba(74, 74, 74, 1);
  margin: 0.75em;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    display: block;
  }
}

.info-section {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin: 0em 1em;
}

.info-section div:last-of-type {
  border: none;
}

.info-wrapper {
  display: inline-block;
  margin-left: auto;
}

.wrapper {
  /* background-color: white; */
  margin: 0em 1.5em 1.5em 1.5em;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 0em;
  }
}
